.label {
    font-weight:bold;
}
 
.fieldset {
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
    border:1px solid #ccc;
}

.legend {
    font-weight:bold;
    font-size:1.2em;
    margin-top:-0.2em;
    margin-bottom:1em;
}

#IE8 #HACK .fieldset  {
    padding-top:1.4em;
}

#IE8 #HACK .legend  {
    margin-top:0;
    margin-bottom:0;
}

.input-text, .input-password, .input-url, .input-email, .input-title, .textarea {
    background-color:#fff;
    border:1px solid #bbb;
    color:#000;
}

.input-focus {
    border-color:#666;
}

.select {
    background-color:#fff;
    border-width:1px;
    border-style:solid;
}

.input-text, .input-password, .input-url, .input-email, .input-title, .textarea, .select {margin:0.5em 0;}
.input-text, .input-title {
    width:300px;padding:5px;
}

.input-title {
    font-size:1.5em;
}

.textarea {
    width:390px;
    height:250px;
    padding:5px;
}

.form-inline {
    line-height:3;
}

p .form.inline {
    margin-bottom:0;
}


.topPanelContainer {
	text-align:left;
	border:1px solid #ccc;
}

.topPanel {
    background-color: white;
    border: 1px solid #ccc;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.title {
    font-size: larger;
    font-weight: bold;
}

.poweredByImage {
	vertical-align: middle;
	margin:12px 8px 8px 0;
}

img {
    border: none;
}

.frameDetail {
	border:solid 1px #e8e8e8;
	margin: 0px 10px 10px 0px;
}
.frameHome {
	border:solid 1px #e8e8e8;
	margin: 0 0 10px 25px;
}
.passepartout-4 {
	padding:4px;
}
.passepartout-8 {
	padding:8px;
}

.clearDecoration {text-decoration: none;}

.t-right{
    text-align:right;
}

.boxArtcenter {
    background: none repeat scroll 0 0 #BFAF00;
    margin-bottom: 1.5em;
    padding: 1.5em;
    height:210px;
    overflow:hidden;
}
.iconArtcenter {
     background-image: url(../img/bank32.png);
     background-position: 0px 0px;
     margin-right: 0.2em;
     vertical-align:text-top;
     width:32px;
     height:32px;
}

.boxEdition {
    background: none repeat scroll 0 0 #B0B021;
    margin-bottom: 1.5em;
    padding: 1.5em;
    height:210px;
    overflow:hidden;
}
.iconEdition {
     background-image: url(../img/chest32.png);
     background-position: 0px 0px;
     margin-right: 0.2em;
     vertical-align:text-top;
     width:32px;
     height:32px;
}
   
.boxExhibition {
    background: none repeat scroll 0 0 #76B8AD;
    margin-bottom: 1.5em;
    padding: 1.5em;
    height:210px;
    overflow:hidden;
}
.iconExhibition {
     background-image: url(../img/diamond32.png);
     background-position: 0px 0px;
     margin-right: 0.2em;
     vertical-align:text-top;
     width:32px;
     height:32px;
}

.boxEvent {
    background: none repeat scroll 0 0 #1797C0;
    margin-bottom: 1.5em;
    padding: 1.5em;
    height:210px;
    overflow:hidden;
}
.iconEvent {
     background-image: url(../img/master.png);
     background-position: 0px -1130px;
     margin-right: 0.2em;
     vertical-align:text-top;
     width:32px;
     height:32px;
}

.boxArtist {
    background: none repeat scroll 0 0 #E23D28;
    margin-bottom: 1.5em;
    padding: 1.5em;
    height:210px;
    overflow:hidden;
}
.iconArtist {
     background-image: url(../img/presenter32.png);
     background-position: 0px 0px;
     margin-right: 0.2em;
     vertical-align:text-top;
     width:32px;
     height:32px;
}

.boxArtwork {
    background: none repeat scroll 0 0 #8AB64E;
    margin-bottom: 1.5em;
    padding: 1.5em;
    height:210px;
    overflow:hidden;
}
.iconArtwork {
     background-image: url(../img/knight32.png);
     background-position: 0px 0px;
     margin-right: 0.2em;
     vertical-align:text-top;
     width:32px;
     height:32px;
}

.boxUser {
    background: none repeat scroll 0 0 #D95D2E;
    margin-bottom: 1.5em;
    padding: 1.5em;
    height:210px;
    overflow:hidden;
}
.iconUser {
     background-image: url(../img/people32.png);
     background-position: 0px 0px;
     margin-right: 0.2em;
     vertical-align:text-top;
     width:32px;
     height:32px;
}

.iconListArtcenter {
     background-image: url(../img/bank16.png);
     background-position: 0px 0px;
     margin-right: 0.2em;
     vertical-align:text-top;
     width:16px;
     height:16px;
}
     
.iconListEdition {
     background-image: url(../img/chest16.png);
     background-position: 0px 0px;
     margin-right: 0.2em;
     vertical-align:text-top;
     width:16px;
     height:16px;
     
}
   
.iconListExhibition {
     background-image: url(../img/diamond16.png);
     background-position: 0px 0px;
     margin-right: 0.2em;
     vertical-align:text-top;
     width:16px;
     height:16px;
}

.iconListEvent {
     background-image: url(../img/master.png);
     background-position: 0px -1130px;
     margin-right: 0.2em;
     vertical-align:text-top;
     width:16px;
     height:16px;
}

.iconListArtist {
     background-image: url(../img/presenter16.png);
     background-position: 0px 0px;
     margin-right: 0.2em;
     vertical-align:text-top;
     width:16px;
     height:16px;
}

.iconListArtwork {
     background-image: url(../img/knight16.png);
     background-position: 0px 0px;
     margin-right: 0.2em;
     vertical-align:text-top;
     width:16px;
     height:16px;
}

.iconListUser {
     background-image: url(../img/people16.png);
     background-position: 0px 0px;
     margin-right: 0.2em;
     vertical-align:text-top;
     width:16px;
     height:16px;
}

.iconListImage {
     background-image: url(../img/files16.png);
     background-position: 0px 0px;
     margin-right: 0.3em;
     vertical-align:text-top;
     width:13px;
     height:16px;
}



#pb{
    border-top: 0 none;
    background-color: transparent;
}

#pb table {
	margin-bottom: 0em;
    width: 100%;
}

#pb h3{
    display: inline;
    font-size: 1.2em;   
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0 2px;
    text-transform: lowercase;
}

#pb img{
    cursor: pointer;
    background-repeat: no-repeat;
    margin-right: 4px;
    height: 11px; 
    width:11px;
}

#pb #pi img{
    
    height: auto; 
    width:50px;
}

#pb .pbSubheader {
    margin-bottom: 2px;
    border-style: solid;
    border-width: 2px 0 0;
    color: #27282E;
    padding: 4px 3px;
}
 
#pb .hideListButton{
    background-position: 1px -36px;
    background-image: url("../img/twistySubhDown.gif"); 
    background: url("../img/twisty_sprite.png") no-repeat scroll 0 -11px transparent;
}

#pb .showListButton {
    background-image: url("../img/twistySubhRight.gif");
    background-position: 0 0;
    height: 10px;
    width: 16px;
    background: url("../img/twisty_sprite.png") no-repeat scroll 0 0 transparent;
}
	       