<apex:page showHeader="false" standardStylesheets="false">
    <head>
    <link rel="stylesheet" href="{!URLFOR($Resource.Blueprint, 'screen.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{!URLFOR($Resource.Blueprint, 'print.css')}" type="text/css" media="print" />
    
    <!--&lt;!--[if IE]&gt;-->
            <!--<link rel="stylesheet" type="text/css" media="screen, projection" href="{!URLFOR($Resource.Blueprint, 'ie.css')}" />-->
    <!--&lt;![endif]--&gt;-->
    <link rel="stylesheet" href="{!URLFOR($Resource.Blueprint, 'plugins/fancy-type/screen.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{!URLFOR($Resource.Blueprint, 'plugins/buttons/screen.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{!URLFOR($Resource.Blueprint, 'plugins/silksprite/sprite.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{!URLFOR($Resource.PublicSite, 'css/publicSiteStyles.css')}" type="text/css" media="screen, projection" />
    <apex:insert name="head"/>
    </head>
    
    <body>
        <div class="container ">  
            <!-- Main Content Area for Secondary Pages  -->
            <div id="MainContent"> 
              <div class="span-24 last">
                    <apex:PageMessages id="messages"/>&nbsp;
              </div>
              <div id="SitesMainContent">
                  <div class="span-24 last">
                  <apex:iframe src="https://sites.google.com/site/artappmanual/" frameborder="false" scrolling="true" height="1200"/>
                  </div>
              </div>
            </div>
            <!-- Close Main Content Area -->
            
            
        </div>
    </body>
</apex:page>