<apex:page docType="html-5.0" standardController="artApp__Information__c" showHeader="false" standardStylesheets="false">
  
  <apex:image id="theURL"  
              value="{!artApp__Information__c.artApp__Primary_Image_URL__c}" 
              height="400px"
              rendered="{!IF(AND(NOT(ISBLANK(artApp__Information__c.artApp__Primary_Image_URL__c)),ISBLANK(artApp__Information__c.artApp__Primary_Image_Id__c)),true, false)}"/>
  <apex:image id="theAttachment"  
              value="/servlet/servlet.FileDownload?file={!artApp__Information__c.artApp__Primary_Image_Id__c}" 
              height="400px"
              rendered="{!IF(NOT(ISBLANK(artApp__Information__c.artApp__Primary_Image_Id__c)),true, false)}"/>
  <c:FeedImage /> 
</apex:page>