<apex:page docType="html-5.0" standardController="artApp__Exhibition__c">
    <apex:sectionHeader title="{!$Label.artapp__VF_Label_RemoveArtwork_SelectItemsToRemove}" subtitle="{!artApp__Exhibition__c.Name}" ></apex:sectionHeader> 
    <chatter:feedWithFollowers entityId="{!artApp__Exhibition__c.Id}" />
    <c:RemoveExhibitionMembers />
    <!-- 
    <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta name="apple-mobile-web-app-capable" content="yes"/>
      <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet"/>            
  </head>
  <body>
  <c:ArtAppSearch />
  <apex:form id="form">
    <apex:pageMessages id="msg"/>
    <apex:pageBlock id="itemsToShow" title="Step 1: Find and select" >
        <apex:pageBlockButtons > 
            <apex:commandButton action="{!addSelected}" value="Select" reRender="msg, recordPanel, itemsSelected"/>
            <apex:commandButton value="{!$Label.VF_Label_All_Cancel}" action="{!cancel}" immediate="true" />  
        </apex:pageBlockButtons>
    <apex:outputPanel id="recordPanel" > 
    <apex:pageBlockSection title="Filter and search records below" collapsible="false" columns="1">
        <c:importvisualstrap theme="default" />
        <c:visualstrapblock >
           <c:ListRolodex sController="{!artworkSet.controller}" panel="recordPanel" showOther="true"/>
        </c:visualstrapblock> 
    </apex:pageBlockSection>  
    <apex:pageBlockSection title="Available Artwork" collapsible="false" columns="1">
       <c:visualstrapblock >
       <c:ListPaginator pController="{!artworkSet.controller}" panel="recordPanel"/>
       </c:visualstrapblock>
           <apex:pageBlockTable value="{!Aw}" 
                           var="r" 
                           width="100%" 
                           > 
                <apex:column styleClass="actionColumn">
                        <apex:inputCheckbox value="{!r.checked}"/>        
                    </apex:column>
                <apex:column >
                        <apex:image id="theImage"  value="/servlet/servlet.FileDownload?file={!r.art.Primary_Image_Id__c}"  width="50" rendered="{!Len(r.art.Primary_Image_Id__c)>0}"/>
                        <apex:image id="theImageUrl"  value="{!r.art.Primary_Image_URL__c}"  width="50" rendered="{!AND(Len(r.art.Primary_Image_Id__c)=0,Len(r.art.Primary_Image_URL__c)>0)}"/>           
                </apex:column> 
                <apex:repeat value="{!$ObjectType.Artwork__c.FieldSets.RemoveArtwork}" var="s">
                    <apex:column >
                        <apex:facet name="header" > 
                            <c:ListSortHeader sController="{!artworkSet.controller}" header="{!s.Label}" column="{!s.FieldPath}" panel="recordPanel"/>
                        </apex:facet>
                        <apex:outputField value="{!r.art[s]}"/>  
                    </apex:column>
                </apex:repeat>     
            </apex:pageBlockTable>     
       </apex:pageBlockSection> 
     </apex:outputPanel>  
   </apex:pageBlock>

   <apex:pageBlock id="itemsSelected" title="Step 2: Review and remove">
        <apex:pageBlockButtons > 
            <apex:commandButton value="{!$Label.VF_Label_All_Remove}" action="{!remove}"/>
            <apex:commandButton value="{!$Label.VF_Label_All_Cancel}" action="{!cancel}" immediate="true" />
        </apex:pageBlockButtons>
        
        <apex:pageBlockSection title="Selected Artwork" collapsible="false" columns="1">
           <apex:pageBlockTable value="{!selectedArtwork}" var="sa">
                <apex:column >
                        <apex:image id="theImage"  value="/servlet/servlet.FileDownload?file={!sa.Primary_Image_Id__c}"  width="50" rendered="{!Len(sa.Primary_Image_Id__c)>0}"/>
                        <apex:image id="theImageUrl"  value="{!sa.Primary_Image_URL__c}"  width="50" rendered="{!AND(Len(sa.Primary_Image_Id__c)=0,Len(sa.Primary_Image_URL__c)>0)}"/>           
                </apex:column>
                <apex:repeat value="{!$ObjectType.Artwork__c.FieldSets.RemoveArtwork}" var="s">
                    <apex:column headerValue="{!s.Label}" >
                        <apex:outputField value="{!sa[s]}"/>  
                    </apex:column>
                </apex:repeat>
            </apex:pageBlockTable>
       </apex:pageBlockSection> 
      </apex:pageBlock>        
    </apex:form>  
  </body>
  -->
</apex:page>