<apex:page cache="false" showHeader="false" sidebar="false" standardStylesheets="false">
  <!-- controller="SiteUserTopCon" 
  <apex:composition template="PublicSiteTemplate">
  
    <apex:define name="head">
        <title>{!groupName} {!recordLabelPlural}</title>
    </apex:define>
  
    <apex:define name="body">
        <apex:outputPanel layout="block">
            <div class="span-23 last prepend-1">
                <h2>{!groupName} {!recordLabelPlural}</h2>
                <apex:outputPanel rendered="{!IF(Len(usersIntroduction) >0, true,false)}">
                    <p class="quiet append-bottom">{!usersIntroduction}</p>
                </apex:outputPanel>
            </div>
            
            <apex:outputPanel rendered="{!showUserSidebar}">
                <div class="span-6">
                    <apex:iframe src="{!iFrameUrl}" frameborder="false" scrolling="false"/>
                </div>
            </apex:outputPanel>
            <div class="span-{!IF(showUserSidebar,'18', '24')} last">
                <apex:dataTable value="{!allRecords}" var="a" id="myTable" width="100%" rules="rows">
                    <apex:column >
                        <apex:outputLink value="{!detailUrl}?id={!a.id}" title="{!a.Name}">                             
                            <apex:image url="{!a.SmallPhotoUrl}" width="50"/>
                        </apex:outputLink>
                    </apex:column>                    
                    <apex:repeat value="{!$ObjectType.User.FieldSets.SiteTopMain}" var="s">
                        <apex:column >
                            <apex:facet name="header">{!s.Label}</apex:facet>
                            <apex:outputField value="{!a[s]}"/>      
                        </apex:column>
                    </apex:repeat>
                    <apex:column >
                        <apex:outputLink styleClass="quiet" value="{!detailUrl}?id={!a.id}" title="{!a.Name}">
                            <apex:outputText value="Detail"/>
                        </apex:outputLink>
                    </apex:column>
                </apex:dataTable>
            </div>  
        </apex:outputPanel>
    </apex:define>
  </apex:composition>-->
</apex:page>