<apex:page docType="html-5.0" controller="artApp.SiteArtistMoreCon" standardStylesheets="false" showHeader="false" sidebar="false">
<apex:composition template="artApp__PublicSiteTemplate"> 
    <apex:define name="head">
         
        <meta name="description" content="{!myRecord.Brief_Biography__c}" />
        <meta name="keywords" content="{!$Organization.Name} {!myRecord.Full_Name__c} " />
        <title>{!myRecord.Full_Name__c}</title>
        <meta property="og:title" content="{!myRecord.Full_Name__c}" />
        <meta property="og:description" content="{!myRecord.Brief_Biography__c}"/>
        <meta property="og:type" content="product" />
        <meta property="og:image" content="{!imageFilePath}{!myRecord.artApp__Primary_Image_Id__c}" />
        <meta property="og:site_name" content="{!$Organization.Name} site powered by ArtApp" />
        
    </apex:define>
       
    <apex:define name="body">
       <div class="media">
          <a class="pull-left" href="{!$Page.artApp__SiteArtistDetail}?id={!myRecord.Id}" title="{!$Label.artapp__VF_Label_All_Back}">
            <apex:image id="theImage"  
                           value="{!imageFilePath}{!myRecord.artApp__Primary_Image_Id__c}"  
                           rendered="{!Len(myRecord.artApp__Primary_Image_Id__c)>0}" 
                           styleClass="media-object"
                           width="150px"
                         />
            <apex:image id="theImageUrl"
                           value="{!myRecord.artApp__Primary_Image_URL__c}" 
                           rendered="{!AND(Len(myRecord.artApp__Primary_Image_Id__c)=0,Len(myRecord.artApp__Primary_Image_URL__c)>0)}"
                           styleClass="media-object"
                           width="150px"/>
          </a>
          <div class="media-body">
            <h4 class="media-heading">{!recordLabel}: {!myRecord.artApp__Full_Name__c}</h4>
            {!myRecord.artApp__Brief_Biography__c}
          </div>
       </div>
       <br/> 
       <div class="panel-group" id="accordion">
          <apex:outputPanel rendered="{!hasChildRecords5}" layout="none" >
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      <h4><img src="/s.gif" alt="{!myChildRecordsLabelPlural5}" class="{!myChild24Icon5}"/>
                         {!myChildRecordsLabelPlural5} <span class="badge">{!myChildRecords5Set.collectionSize}</span>
                      </h4>
                    </a>
                  </h4>
                </div>
                <apex:form >
                 <apex:outputPanel id="recordPanel" >
                    <div id="collapseOne" class="panel-collapse collapse in">
                      <div class="panel-body">
                         <c:ListPaginator pController="{!myChildRecords5Set.controller}" panel="recordPanel"/>
                         <apex:repeat value="{!ChildRecords5}" var="item">
                             <div class="media">
                                  <a class="pull-left" href="{!$Page.artApp__SiteArtworkDetail}?id={!item.Id}">
                                    <apex:image id="theImage" width="150px" value="{!imageFilePath}{!item.artApp__Primary_Image_Id__c}"  rendered="{!Len(item.artApp__Primary_Image_Id__c)>0}" styleClass="media-object"/>
                                        <apex:panelGroup rendered="{!AND(Len(item.artApp__Primary_Image_Id__c)=0,Len(item.artApp__Primary_Image_URL__c)>0)}" >
                                        <img class="media-object" src="{!item.Primary_Image_URL__c}" alt="{!item.Name}" width="150px"/>
                                    </apex:panelGroup>
                                    <apex:panelGroup rendered="{!IF(AND(item.artApp__Primary_Image_Id__c == null, item.artApp__Primary_Image_URL__c == null), true, false)}" >
                                        <img data-src="holder.js/150x100/text:{!item.Name}" alt="{!item.Name}" class="info media-object"/>
                                    </apex:panelGroup>
                                  </a>
                              <div class="media-body">
                                <h4 class="media-heading">{!item.name} <small>{!item.RecordType.Name}</small></h4>
                                <fieldset>
                                <div class='row'>
                                    <apex:repeat value="{!$ObjectType.artApp__Artwork__c.FieldSets.artApp__SiteDetailChild}" var="s">
                                        <apex:outputPanel rendered="{!IF(ISNull(item[s]), false, true)}">
                                        <div class="col-sm-6 col-md-4 col-lg-3">
                                            <div class='form-group'>
                                                <label>{!s.Label}</label>
                                                <p class="help-block">{!item[s]}</p>
                                            </div>
                                        </div>
                                        </apex:outputPanel>
                                    </apex:repeat>
                                </div>
                                </fieldset>
                                <hr/>
                              </div>
                            </div>
                         </apex:repeat>
                      </div>
                    </div>
                    <script type="text/javascript" > 
                        Holder.run({images: ".info"});
                    </script>
                 </apex:outputPanel>
                </apex:form>
              </div>
          </apex:outputPanel>
    </div> 
       
           
    </apex:define>
    </apex:composition>  
</apex:page>