<apex:page standardController="Account">
    <apex:form >
   		<apex:pageBlock mode="edit">
        	<apex:pageBlockButtons >
            	<apex:commandButton action="{!save}" value="Save"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="Dependent PickList" columns="2">
                <apex:inputField value="{!account.industry}" />
                <apex:inputField value="{!account.Subcategories__c}" />
            </apex:pageBlockSection>   		    
        </apex:pageBlock> 
    </apex:form>
</apex:page>