<apex:page controller="NewAndExistingController" tabStyle="Account">
    <apex:form >
    	<apex:pageBlock mode="edit">
        	<apex:pageMessages />
            <apex:pageBlockSection >
            	<apex:inputField value="{!Account.Name}" />
                <apex:inputField value="{!Account.Phone}" />
                <apex:inputField value="{!Account.Industry}" />
            </apex:pageBlockSection>
            <apex:pageBlockButtons >
            	<apex:commandButton value="Save" action="{!save}" />
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>