<apex:page standardController="Account">
    <apex:pageBlock title="Hello: {!$User.FirstName}!">
        You are displaying values from the {!account.name} account and a separate contact
		that is specified by a query string parameter.
    </apex:pageBlock>
    
    <apex:pageBlock title="Contacts">
        <apex:dataTable value="{!account.Contacts}" var="contact" cellpadding="4" border="1">
        	<apex:column headerValue="Name">
            	{!contact.Name}
            </apex:column>
            <apex:column headerValue="Phone">
                {!contact.Phone}
            </apex:column>
        </apex:dataTable> 
        <apex:outputLink value="http://google.com/search">Google</apex:outputLink>
    </apex:pageBlock>
    
    <apex:detail subject="{!$CurrentPage.parameters.cid}" relatedList="false" title="false" />
</apex:page>