<apex:page standardController="Account" renderAs="pdf">

   
    <h1> Welcome to Universal Samples</h1>
    
    <p>
        Thank You, <b><apex:outputField value="{!account.Name}" /></b> for becoming a new account with Universal Samples
        <br /><br />You Account are:
    </p>
     
    <table>
        <tr>
        	<th>Account Name</th>
            <td><apex:outputField value="{!account.Name}" /></td>
        </tr>
        <tr>
        	<th>Account Rap</th>
            <td><apex:outputField value="{!account.Owner.Name}" /></td>
        </tr>
        <tr>
        	<th>Customer Since</th>
            <td><apex:outputField value="{!account.CreatedDate}" /></td>
        </tr>
    </table>
       
</apex:page>