.THIS .image--align{
    float:left;
    margin-left:3%;
  
}
.THIS .text-size-2{
    margin-left:36%;
}
.THIS .image-size{
    width:30px;
}
.THIS .border-div{
    border-style: solid;
    border-width: 1px;
    border-color: #d8dde6;
    width:80px;
    height:40px;
}
.THIS .colum-padding{
    padding: 0px 100px;
}
.THIS .image-size-pricebook{
    width: 40px;
    height: 20px;
}
.THIS .buttons-left {
     width:20px;
     float: left;
     margin-right: 3%;
}
.THIS .button-size {
    margin-left: 10px;
}
.THIS  .input-size {
	width: 80px;
    height: 40px;
}
.THIS .btnCollor button {
    
    background:  #e6ffe6;
    background: none;
    border: 1px solid #d8dde6;
    height: 40px;
    text-shadow: none;
    
    display: initial;
    
}

.THIS .Image{
    width: 100px;
    height: 50px;
}

.THIS .ImagePhoto{
    width: 50px;
    height: 50px;
    margin-top:-3%;
}
.THIS .ImagePhoto2{
   
}
.THIS .ImageSimbol{
    width: 30px;
    height: 20px;
    margin-top:-3%;
}
.THIS .ButtonInventory button{
    
    background:  #e6ffe6;
    background: none;
    border: 1px solid #d8dde6;
    box-shadow: none;
    margin: 0px 0px 0px 10px;
    padding: 9px 10px 10px 10px;
    height: 40px;
    text-shadow: none;
    
    display: initial;
}
.THIS .Border{
    
    border-color:white;
}
 .THIS .ImageHidden{
        display : none !important;
    }

@media(max-width:700px){
    .THIS .hidden{
        display : none !important;
    }
     .THIS .ImageShow{
        display : inline-flex !important;
    }
    .THIS .Align{
        float: right;
    }
    .THIS .BorderWhite{
        border-color: white;
    }
    .THIS .BorderBlue{
        border-color: #417AC6;
    }
    .THIS .availableDiv{
        visibility: hidden;
    }
}